.Container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: #52796F;

  ul:first-child {
    display: flex;
    margin-top: 20vh;
    width: 100vw;
    position: fixed;
    justify-content: space-evenly;

    li {
      display: flex;
      align-items: center;
      cursor: pointer;
      box-sizing: border-box;
      background: #52796F;
      height: 7vh;
      padding: 0 1.2rem;
      border: 2px solid #2F3E46;
      border-radius: 10px;
      color: #CAD2C5;
      box-shadow: inset 0.2em 0.2em 10px #CAD2C5,
                  inset -0.2em -0.2em 10px #2F3E46,
                        0.2em 0.2em 5px #2F3E46;
    }

    li:hover {
      color: #2F3E46;
    }

    li:active {
      box-shadow: inset -0.2em -0.2em 10px #CAD2C5,
                  inset 0.2em 0.2em 10px #2F3E46,
                        0.2em 0.2em 5px #2F3E46;
    }
  }

  .SecondList {
    margin-top: 27vh;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
}
