@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&family=Montserrat:wght@500&family=Ubuntu:wght@500&display=swap');

.ResumeWrapper {
  display: flex;
  flex-direction: column;
  padding: 20vh 0 10vh 0;
  height: 100%;
  width: 100vw;
  background: #CAD2C5;
  justify-content: center;
  align-items: center;
}

.Resume {
  display: flex;
  font-family: 'Lato', sans-serif;

  h5 {
    font-style: italic;
    color: #4d7280;
  }

  h1,h2 {
    text-align: center;
    padding: 1%;
  }

  h1 {
    font-size: 2.3rem;
    font-family: 'Ubuntu', sans-serif;
  }

  h2 {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.3em;
  }

  h3 {
    text-align: center;
    background: #32322F;
    padding: 3%;
    color: #FEE7D5;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section:first-child {
    background: #4D7180;
    color: #FEE7D5;
    width: 43%;

    div {
      padding: 4% 10%;
    }

    div:first-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4%;
      
      img {
        max-width: 70%;
      }
    }

    h4 {
      text-decoration: underline;
    }

    div:last-child {
      ul {
        li {
          display: flex;
          align-items: center;

          img {
            max-width: 10%;
          }
        }
      }
    }
  }

  section:last-child {
    background: #FEFEFA;
    color: #65504F;
    width: 57%;
    padding: 2%;

    h3 {
      padding: 2% 3%;
    }

    div:first-child {
      div {
        display: flex;
        align-items: center;
        margin: 2% 0 1% 0;

        h4 {
          position: relative;
          right: 3.5%;
          font-family: 'Ubuntu', sans-serif;
          font-size: 1.2em;
          padding: 2% 2% 2% 4%;
          background: #FEE7D5;
        }
      }
    }
  }
}
