.About {
  background: #CAD2C5;
  height: 85vh;
  width: 100%;
}

.Mask {
  height: 100%;
  width: 100%;
  background-color: #CAD2C5;
  opacity: 0.6;
}

.Img1, .Img2, .Img3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Img1 {
  height: 85vh;
  padding-top: 15vh;
  background-image: url('../../assets/bosnia.jpg');

  img {
    width: 100%;
    height: 100%;
  }

  .iconRow {
    position: relative;
    margin: 0;
    padding: 0;
    bottom: 95%;
    width: 97%;
    text-align: end;
    color: rgb(30, 56, 49);
    font-size: 40px;
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 10%;
      height: 7%;
      margin: 0.8% 0.2%;

      img {
        height: 50%;
        width: 50%;
        margin: 1%;
      }

      p {
        text-align: center;
        font-size: 0.35em;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 10%;
      }
    }
  }
}

.Img2 {
  height: 65vh;
  padding-top: 0;
  background-image: url('../../assets/camping.jpg');
}

.Img3 {
  height: 75vh;
}

.Info {
  height: 40vh;
  padding: 80px 15%;
  text-align: center;
  background: #CAD2C5;
  color: #2F3E46;
  line-height: 2.5em;
  font-size: 1.2em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
