.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background: #2F3E46;
  color: white;
  height: 15vh;
  position: fixed;
  z-index: 1;

  a {
    text-transform: uppercase;
    margin-right: 5vw;
    text-decoration: none;
    color: #CAD2C5;
    font-size: 18px;
    transition-property: color;
    transition-duration: 0.3s;
  }

  a:hover {
    color: #84A98C;
  }

  img {
    height: 80%;
    margin-left: 3%;
  }

  .selected {
    color: #84A98C;
  }
}
