.About {
  display: flex;
  flex-direction: column;
  background: #CAD2C5;
  color: #2F3E46;
  box-sizing: border-box;
  margin: 6% 5vw 0 5vw;
  justify-content: center;
  align-items: center;
  border: 1px solid #2F3E46;
  border-radius: 10px;
  text-align: center;
  opacity: 0.9;
  font-size: 1.4em;
  width: 90vw;
  height: 60vh;
  line-height: 1.3em;
  z-index: 5;
  white-space: pre-line;
  padding: 9% 5%;
  scroll-snap-align: center;

  button {
    cursor: pointer;
    background: #CAD2C5;
    color: #2F3E46;
    border: 2px solid #2F3E46;
    border-radius: 5px;
    padding: 5px 10px;
    position: relative;
    bottom: 20%;
    left: 40%;
  }
}

.ProjectName {
  width: 100%;

  p {
    height: 10%;
    text-align: center;
    color: #CAD2C5;
    font-size: 2em;
    line-height: 200%;
    text-decoration: underline;
    text-decoration-color: #2F3E46;
  }

  .burp {
    display: flex;
    justify-content: center;

    p {
      cursor: pointer;
      background: #2F3E46;
      width: 30%;
      margin: 2% 6% 4% 6%;
      border: 2px solid #cad2c5;
      border-radius: 10px;
      font-size: 1em;
    }
  }

  div:last-child {
    width: 100%;
    display: flex;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;

    svg, a {
      height: 100%;

      g {
        cursor: pointer;
        width: 5%;
        max-width: 45px;
        pointer-events: bounding-box;
        fill: #2F3E46;
      }
      g:hover {
        opacity: 1;
        fill: #CAD2C5;
      }
    }
  }
}

.WorkItem {
  display: flex;
  width: 100vw;
  height: 90%;
  scroll-snap-align: center;

  div:nth-child(2) {
    display: flex;
    margin-left: 3%;
    width: 85%;
    height: 95%;

    div:first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 48px;

      g {
        cursor: pointer;
        width: 85%;
        min-width: 45px;
        pointer-events: bounding-box;
        fill: #2F3E46;
      }
      g:hover {
        opacity: 1;
        fill: #CAD2C5;
      }

      div {
        height: 25%
      }
    }

    div:last-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;

      div {
        height: 76%;
        width: 100%;
      }

      .MobilePreview, ul {
        margin: 2% 0;
        height: 20%;
        display: flex;
        justify-content: space-evenly;
        
        img {
          cursor: pointer;
          max-width: 100%;
          max-height: 100%;
          margin: 10px;
          border-radius: 7%;
        }
      }
          
      .MobilePreview {
        li {
          height: 100%;
        }
      }

      ul {
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 46%;
          margin: 0 1%;
        }
      }
    }
  }

  .LeftArrow, .RightArrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: sticky;
    height: 9%;
    width: 62px;
    top: 40%;
    margin: 2%;
  
    div {
      position: relative;
      width: 3px;
      height: 27px;
      background: #CAD2C5;
    }
  }
  
  .LeftArrow:hover, .RightArrow:hover {
    
    div {
      background: #2F3E46;
    }
  }
  
  .LeftArrow {
  
    div {
      left: 5%;
    }
  
    div:first-child {
      top: 5px;
      transform: rotate(30deg);
    }
  
    div:last-child {
      transform: rotate(-30deg);
    }
  }
  
  .RightArrow {
  
    div {
      left: 15%;
    }
  
    div:first-child {
      top: 5px;
      transform: rotate(-30deg);
    }
  
    div:last-child {
      transform: rotate(30deg);
    }
  }
}

.Hidden {
  display: none;
}

.HiddenArrow {
  width: 6%;
  height: 2px;
}

@media screen and (max-width: 1040px){
  .About {

    button {
      bottom: 12%;
    }
  }
}

@media screen and (max-width: 932px){
  .About {

    button {
      bottom: 8%;
    }
  }
}

@media screen and (max-width: 832px){
  .About {
    font-size: 1em;

    button {
      bottom: 6%;
    }
  }
}

@media screen and (max-width: 800px){
  .About {

    button {
      bottom: 6%;
    }
  }

  .WorkItem {
    div:nth-of-type(2){
      margin-left: 1.5%;

      div:last-child {
        margin-top: 4%;
        justify-content: start;

        div {
          height: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 570px){
  .About {

    button {
      bottom: 5%;
    }
  }
}

@media screen and (max-width: 400px){
  .About {

    button {
      bottom: 1%;
    }
  }

  .ProjectName {

    p {
      font-size: 1.6em;
    }
  }

  .WorkItem {
    div:nth-of-type(2){
      div:last-child {
        .MobilePreview {
          flex-wrap: unset;
        }

        ul {
          flex-wrap: wrap;

          li {
            width: 46%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px){
  .About {
    font-size: 0.9em;
  }
}